*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', 'Bebas Neue', Verdana;
    font-weight: 500;
}
.container{
    max-width: 1200px;
    display: flex;
    margin: auto;
    height: 100%;
    margin:0 auto;
    align-items: center;
    padding: 0.2%;
}
header
{
    background-color: beige;
}
.menu_sup{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
.logo_top{
    width: 150px;
    height: 110px;
    background-color: blue;
    text-align: center;
    align-self: center;
    
}
.logo_top img{
    width: 100px;
    height: 100px;
}
.text_top{
    width: 100%;
    text-align: center;
    font-size: 34px;
    background-color: blueviolet;
}
.text_top h1{
    font-family: 'Bebas Neue';
}

/* --- sobre_curso --- */

.sobre_box1,
.sobre_box2,
.sobre_box3{
    display: flex;
    height: 400px;
    text-align: center;
}
.sobre_box2{
    flex-direction: row-reverse;
}
.box1{
    align-items: center;
    align-self: center;
    padding: 8px;
    width: 41.67%;
}
.box2{
    width: 58.33%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.sobre_box1 > .box2{
    background-image: url(assets/sobreimg.png);
}
.sobre_box2 > .box2{
    background-image: url(assets/sobreimg.png);
}
.sobre_box3 > .box2{
    background-image: url(assets/sobreimg.png);
}

/* --- BOX_MODULOS --- */
section.conteudo{
    background-color: greenyellow;
}
section.conteudo > .container{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: aquamarine;
}
.conteudo_menu
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(210, 255, 127);
}
.cont_box{
    background-color: #bbbbbb;
    margin: 10px 5px;
    width: 18%;
    height: 340px;
}
.titulo{
    padding: 12px;
    text-align: center;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #ffffff00, #00f, #ffffff00) 1;
}
.temas{
    text-align: center;
    display: none;
    background-color: blue;
}
.cont_box h1{
    font-size: 20px;
}
.cont_box h2{
    font-size: 18px;
}
/* --- DEPOIMENTOS --- */
section.depoimentos{
    background-image: linear-gradient(to right, #ffffff, #eeeeee, #bbbbbb, #eeeeee, #ffffff )
}
section.depoimentos > .container{
    justify-content: space-between;
    padding: 50px 0px;
}
.depoimento_box{
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 33.3%;
    margin: 1%;
    height: 400px;
    border-radius: 20px;
    padding: 8px;
    background-color: cornflowerblue;
}
.depoimento_foto{
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 100%;
    margin: auto;
    margin-top: 8px;
}
.depoimento_foto img{
    width: 100px;
}
.depoimento_avaliacao img{
    width: 50px;
}
.depoimento_text{
    height: 200px;
    background-color: gray;
    padding: 8px;
    border-radius: 0px 0px 20px 20px;
}
.depoimento_text h2{
    font-size: 16px;
    text-align: start;
}

/* --- GARANTIAS --- */
section.garantias{
    background-color: rgb(178, 186, 212);
}
.garantias > .container{
    display: inline;
    max-width: 1200px;
}
.selo_garantia{
    display: flex;
    align-items: center;
    height: 400px;
    padding: 0px 80px;
}
.selo_garantia img{
    width: 300px;
}
.selo_garantia h3{
    padding-left: 80px;
    width: 100%;
}
.vantagens{
    margin: auto;
    display: grid;
    width: 100%;
    max-width: 1200px;
    padding: 0px 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 10px 10px;
    background-color: rgb(255, 172, 47);
}
.vantage_single{
    min-width: 200px;
    height: 100px;
    border: 2px solid purple;
    border-radius: 20px;
    margin: 25px 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons_vantagens{
    width: 40px;
}
.vantage_icon{
    align-self: center;
    padding-right: 5px;
}
.vantage_text h1{
    font-size: 14px;
}
.vantage_text h2{
    font-size: 8px;
}

/* --- BIOGRAFIA --- */

section.ator_biografia{
    background-color: coral;
}
section.ator_biografia > .container{
    align-items: center;
    height: 500px;
    padding: 0px 20px;
    background-color: aqua;
}
.ator img{
    width: 300px;
}
.biografia
{
    width: 100%;
    margin-left: 30px;
}
.biografia h1{
    font-weight: bold;
    font-size: 28px;
}
.biografia h2{
    font-weight: 400;
    font-size: 20px;
}

/* --- PERGUNTAS --- */


section.box_modulos{
    background-color: greenyellow;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
}
.modulo_single{
    width: 90%;
    margin: auto;
}
.mod_single1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    border-radius: 20px 20px 6px 6px;
    margin-top: 20px;
    cursor: pointer;
}
.mod_single1.aberto{
    background-color: rgb(226, 43, 144);
    border-radius: 20px 20px 0px 0px;
    transition: 0s;
}
.mod_single1 img{
    width: 60px;
    height: 60px;
    margin-right: 40px;
}
.mod_single1 h1{
    font-weight: bold;
    padding: 14px;
    padding-left: 50px;
}
.mod_single2{
    min-height: 150px;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    background-color: aquamarine;
    display: none;
    padding-bottom: 12px;
    transition: 0.8s;
}
.mod_single2 h2{
    height: 100%;
    font-size: 18px;
    padding: 6px 28px;
    padding-top: 30px;
}

/* --- RESPANSIVEL --- */

@media screen and (max-width: 999px)
{
    .vantagens{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-gap: 10px 20px;
        padding: 0px 20px;
    }
    .vantage_text h1{
        font-size: 18px;
    }
    .vantage_text h2{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px)
{
    .vantagens{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 0px 0px;
        padding: 0px 50px;
    }
}

