*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', 'Bebas Neue', Verdana;
    font-weight: 500;
}
.container{
    max-width: 1200px;
    display: flex;
    margin: auto;
    height: 100%;
    margin:0 auto;
    align-items: center;
    padding: 0.2%;
}
header
{
    background-color: #9f0dba;
}
.menu_sup{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo_top{
    width: 150px;
    height: 110px;
    text-align: center;
    align-self: center;
    
}
.logo_top img{
    width: 100px;
    height: 100px;
}
.text_top{
    width: 100%;
    text-align: center;
    font-size: 34px;
}
.text_top h1{
    font-family: 'Bebas Neue';
    color: #ffffff;
}
/**/

.banner{
    background-color: #a5ff01;
    height: 600px;
}
/* --- sobre_curso --- */

section.sobre_curso{
    background-image: linear-gradient(to bottom, #a5ff01, #e7fe00, #e7fe00, #470cfa, #470cfa);
}
.sobre_box1,
.sobre_box2,
.sobre_box3{
    display: flex;
    height: 400px;
    text-align: center;
}
.sobre_box2{
    flex-direction: row-reverse;
}
.box1{
    display: flex;
    padding: 20px;
    width: 41.67%;
    height: 100%;
    background-color: #ffffff;
    filter: opacity(80%);
    align-items: center;
}.box1 h1{
    text-align: left;
}
.box2{
    width: 58.33%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.sobre_box1 > .box2{
    background-image: url(assets/sobreimg.png);
}
.sobre_box2 > .box2{
    background-image: url(assets/sobreimg.png);
}
.sobre_box3 > .box2{
    background-image: url(assets/sobreimg.png);
}

/* --- BOX_MODULOS --- */
section.conteudo{
    background-image: linear-gradient(to bottom, #470cfa, #9f0dba, #9f0dba, #f7126d, #f7126d);
}
section.conteudo > .container{
    padding-top: 100px;
    padding-bottom: 100px;

}
.conteudo_menu
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cont_box{
    background-color: #bbbbbb;
    margin: 10px 5px;
    width: 40%;
    height: 340px;
    background-image: url(assets/sobreimg.png);
    background-position: center;
    border-radius: 20px 20px 20px 20px;
}
.titulo{
    padding: 12px;
    text-align: center;
    background-color: rgb(220, 220, 220);
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #ffffff00, #00f, #ffffff00) 1;
}
.temas{
    text-align: center;
    display: none;
    height: calc(100% - 58px);
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(200, 200, 200);
}
.cont_box h1{
    font-size: 20px;
}
.cont_box h2{
    font-size: 18px;
}
/* --- DEPOIMENTOS --- */
section.depoimentos{
    background-color: rgb(220, 220, 220);
}
section.depoimentos > .container{
    justify-content: space-between;
    padding: 50px 0px;
}
.container_slider{
    display: flex;
    width: 100%;
}
.depoimento_box{
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 33.3%;
    margin: 1%;
    height: 400px;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(200, 200, 200);
}
.depoimento_foto{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: auto;
    margin-top: 8px;
}
.depoimento_foto img{
    width: 100px;
}
.depoimento_avaliacao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.depoimento_avaliacao img{
    width: 50px;
}
.depoimento_text{
    height: 200px;
    background-color: gray;
    padding: 8px;
    border-radius: 0px 0px 20px 20px;
}
.depoimento_text h2{
    font-size: 15px;
    text-align: start;
}

/* --- GARANTIAS --- */
section.garantias{
    background-color: #a5ff01;
}
.garantias > .container{
    display: inline;
    max-width: 1200px;
}
.selo_garantia{
    display: flex;
    align-items: center;
    height: 400px;
    padding: 0px 80px;
}
.selo_garantia img{
    width: 300px;
}
.selo_garantia h3{
    padding-left: 80px;
    width: 100%;
    font-size: 18px;
}
.vantagens{
    margin: auto;
    display: grid;
    width: 100%;
    max-width: 1200px;
    padding: 0px 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 10px 10px;
}
.vantage_single{
    min-width: 200px;
    height: 100px;
    border: 2px solid #f7126d;
    border-radius: 20px;
    margin: 25px 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons_vantagens{
    width: 40px;
}
.vantage_icon{
    align-self: center;
    margin-top: 10px;
    padding-right: 18px;
}
.vantage_text h1{
    color: #ffffff;
    font-size: 14px;
}
.vantage_text h2{
    color: #ffffff;
    font-size: 8px;
}

/* --- BIOGRAFIA --- */

section.ator_biografia{
    background-color: #470cfa;
}
section.ator_biografia > .container{
    align-items: center;
    height: 500px;
    padding: 0px 20px;
}
.ator img{
    width: 300px;
}
.biografia
{
    width: 100%;
    margin-left: 30px;
}
.biografia h1{
    color: #a5ff01;
    font-weight: bold;
    font-size: 28px;
}
.biografia h2{
    font-weight: 500;
    font-size: 18px;
}

/* --- PERGUNTAS --- */


section.box_modulos{
    background-image: linear-gradient(to bottom, #470cfa, #9f0dba, #9f0dba, #f7126d, #f7126d);
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
}
.modulo_single{
    width: 90%;
    margin: auto;
}
.mod_single1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(220, 220, 220);
    border-radius: 20px 20px 6px 6px;
    margin-top: 20px;
    cursor: pointer;
}
.mod_single1.aberto{
    border-radius: 20px 20px 0px 0px;
}
.mod_single1 img{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}
.mod_single1 h1{
    font-weight: 600;
    font-size: 20px;
    padding: 14px;
    padding-left: 50px;
}
.mod_single2{
    min-height: 150px;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    background-color: rgb(200, 200, 200);
    display: none;
    padding-bottom: 12px;
}
.mod_single2 h2{
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    padding: 6px 28px;
    padding-top: 16px;
}

/* --- CONTATO_WPP --- */

section.contato_wpp{
    background-color: #a5ff01;
}
.contato_wpp > .container{
    display: block;
    text-align: center;
    padding-top: 80px;
    height: 300px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 40px;
    width: 200px;
    height: 60px;
    background-color: rgb(220, 220, 220);
    border-radius: 22px;
}
.btn img{
    width: 50px;
    height: 50px;
}
.btn h2{
    font-weight: bold;
    font-size: 20px;
}
/* --- SLICK SLIDER --- */
.slick-dotted{
    display: block;
}
.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	color: rgb(200, 200, 200);
	border-width: 0;
	background: rgb(200, 200, 200);
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #a5ff01;
	color: #a5ff01;
}

.slick-slide:focus 
{ 
    outline: none; 
}

/* --- FIM SLICK SLIDER --- */

/* --- RESPANSIVEL --- */

@media screen and (max-width: 999px)
{
    .vantagens{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-gap: 10px 20px;
        padding: 0px 20px;
    }
    .vantage_text h1{
        font-size: 18px;
    }
    .vantage_text h2{
        font-size: 12px;
    }

    /**/

    .selo_garantia img{
        width: 220px;
    }
    .selo_garantia h3{
        padding-left: 0px;
        font-size: 16px;
    }
    /**/
    .box1 h1{
        font-size: 20px;
    }

}

@media screen and (max-width: 768px)
{
    .vantagens{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 0px 0px;
        padding: 0px 50px;
    }
    /*--- ---*/
    .cont_box{
        background-color: #bbbbbb;
        margin: 10px 5px;
        width: 80%;
        height: 340px;
    }
    .temas{
        text-align: center;
        display: block;
        height: calc(100% - 58px);
        background-color: rgb(200, 200, 200);
    }
    /**/
    .selo_garantia{
        display: block;
        text-align: center;
        padding: 20px 0px;
    }
    .selo_garantia h3{
        font-size: 14px;
    }
    .selo_garantia img{
        padding-bottom: 20px;
    }
    /**/
    .text_top{
        font-size: 20px;
    }
    .logo_top img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
    /**/
    .sobre_box1,
    .sobre_box2,
    .sobre_box3{
        display: inline-flex;
        height: 400px;
        text-align: center;
        flex-wrap: wrap;
    }
    .box1{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
    /**/
    .biografia
    {
        margin-left: 0px;
    }
    section.ator_biografia > .container{
        display: block;
        text-align: center;
        align-items: center;
        height: 520px;
        padding: 20px;
    }
}   

